# variable

In [1]:
a=10
b=5
c1=a+b
c2=a-b
c3=a*b
c4=a/b
print(c1)
print(c2)
print(c3)
print(c4)
c5 = a//b #floor
c6 = a%b #remainder
c7 = a**b #exponential
print(c5)
print(c6)
print(c7)

15
5
50
2.0
2
0
100000

In [2]:
length = int(input("Enter the length of rectangle "))
breadth = int(input("Enter the breadth of reactangle "))
area = length*breadth
print(area)

Enter the length of rectangle 2
Enter the breadth of reactangle 2
4

In [4]:
a = int(input("Enter number one "))
b = int(input("Enter number two "))
c = a+b
print(c)
print(type(a))
print(type(b))
print(type(c))

Enter number one 3
Enter number two 4
7
<class 'int'>
<class 'int'>
<class 'int'>

In [5]:
name = "sachin"
t_shirt = 10


print(name,"t-shirt number is",t_shirt)

sachin t-shirt number is 10

In [6]:
team = "india"
worldcup = 2012
captain = "kholi"
rank = 1
print(team,"is number 1 team and has won",worldcup," and it rank",rank,"captain is",captain)

india is number 1 team and has won 2012  and it rank 1 captain is kholi

In [7]:
x = 56
y = 56.78
z = "python"
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

In [8]:
a = float(10) 
print(a)

10.0

In [9]:
a =int(12.56)
print(a)

12

In [10]:
a = 10
b = 20
c=a+b
print(c)
print(type(a))
print(type(b))
print(type(c))

30
<class 'int'>
<class 'int'>
<class 'int'>

In [11]:
hour=int(60)
print(input("enter the hour"))
print( "hour equal to 60 min")

enter the hour3
3
hour equal to 60 min

# conditional statement

if condition

In [12]:
a = 10

if a>0:
  print("A is Postive number")

A is Postive number

In [13]:
a = -10

if a>0:
  print("A is Postive number")

In [14]:
a = -10

if a>0:
  print("A is Postive number")
else:
  print("A is Negative number")

A is Negative number

In [15]:
a = 0

if a>0:
  print("A is Postive number")
else:
  print("A is Negative number")

A is Negative number

In [16]:
a = 0

if a<0:
  print("A is Postive number")
else:
  print("A is Negative number")

A is Negative number

In [17]:
a = 0

if a>0:
  print("A is Postive number")
elif a==0:
  print("A is zero")
else:
  print("A is Negative number")

A is zero

conditions

In [18]:
x=45
if a/2:
    print("the number is even")
else:
    print("the number is odd")

the number is odd

In [19]:
year=2020
if year/4:
    print("leap year")
else:
    print("not leap year")

leap year

In [20]:
age=25

if a<=18:
    print("you can vote")
else:
    print("you cannot vote")

you can vote

In [21]:
a=3
b=4
c=5
if (c>4):
    print("c is greater")
else:
    print("not a greater")

c is greater

In [22]:
a=500
b=300
c=a+b
if(c<1000):
    print("super")
else:
    print("greater")

super

#    functions

In [23]:
def convert_time(hrs,min):
    min=hrs*60+min
    return min
h=int(input("enter the hours:"))
m=int(input("enter the minutes:"))
m=convert_time(h,m)
print("total hours=",h)

enter the hours:3
enter the minutes:3
total hours= 3

In [24]:
cm=int(input("Enter the length in cm:"))
meter = cm / 100;
print("The length in meter",meter)

Enter the length in cm:2
The length in meter 0.02

In [25]:
kilometers = float(input("Enter value in kilometers: "))
conv_fac = 0.621371
miles = kilometers * conv_fac
print('%0.2f kilometers is equal to %0.2f miles' %(kilometers,miles))

Enter value in kilometers: 3
3.00 kilometers is equal to 1.86 miles

In [26]:
def simple_interest(p,t,r):
    print('The principal is', p)
    print('The time period is', t)
    print('The rate of interest is',r)
     
    si = (p * t * r)/100
    
    print('The Simple Interest is', si)
    return si
simple_interest(8,4,9)

The principal is 8
The time period is 4
The rate of interest is 9
The Simple Interest is 2.88

2.88

In [27]:
pounds=int(input("Enter the pounds:"))
kilograms =pounds*0.453592;
print("kilograms",kilograms)

Enter the pounds:3
kilograms 1.360776

In [28]:
r=float(input("enter the radius of circle"))
area_of_circle=3.14*r*r;
print("the area of given circle:",area_of_circle)

enter the radius of circle3
the area of given circle: 28.259999999999998

In [29]:
def circle(radius):
  circum=2*3.14*radius
  print(circum)

In [30]:
circle(5)

31.400000000000002

In [31]:
def square(side):
  peri=4*side
  print(peri)

In [32]:

square(5)

20

# for loop

In [33]:
for i in range(35,45):
    print(i)

35
36
37
38
39
40
41
42
43
44

In [34]:
for i in range(50):
    print("machinelearning")

machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning

In [35]:
for i in range (21,28,2):
    print(i)

21
23
25
27

In [36]:
for i in range(86,100,2):
    
    print(i)

86
88
90
92
94
96
98

In [37]:
for i in range(1,10):
    print("2*",i,"=",i*2)

2* 1 = 2
2* 2 = 4
2* 3 = 6
2* 4 = 8
2* 5 = 10
2* 6 = 12
2* 7 = 14
2* 8 = 16
2* 9 = 18

# list

In [38]:
a=[2,33,42,4,5,2,42]
b=a.count(2)
print(b)

2

In [39]:
a=[2,3,4]
a.append(10)
print(a)

[2, 3, 4, 10]

In [40]:
a=[4,5,6,7,8]
a.append(20)
print(a)

[4, 5, 6, 7, 8, 20]

In [41]:
a=[4,5,6,7,8]
a.insert(1,"hello")
print(a)

[4, 'hello', 5, 6, 7, 8]

In [42]:
a=[6,7,8,9,10]
a.insert(2,"python")
print(a)

[6, 7, 'python', 8, 9, 10]

In [43]:
a=[3,1,5,2,4]
a.sort()
print(a)

[1, 2, 3, 4, 5]

In [44]:
a=[3,1,5,2,4]
a.sort(reverse=True)
print(a)

[5, 4, 3, 2, 1]

In [45]:
a=[2,3,4,5]
print(a)

[2, 3, 4, 5]

In [46]:
a=[]
print(a)

[]

In [47]:
a=[2,3,4]
a.clear()
print(a)

[]

In [48]:
a=[2,3,4]
a.pop()
print(a)

[2, 3]

In [49]:
a=[2,3,4]
a.remove(3)
print(a)

[2, 4]

In [50]:
a=[2,3,4,5]
a.remove(a[2])
print(a)

[2, 3, 5]

In [51]:
a = [2,3,4]
b = [5,6,7]
a.extend(b)
print(a)

[2, 3, 4, 5, 6, 7]

In [52]:
a=[2,3,4,4,4,4,4,5,6]
b=a.count(4)
print(b)

5

In [53]:
a=[2,3,4,43,4555,4666,4455,532,6224,4372,689]
b=a.index(6224)
print(b)

8

In [54]:
a=[2,3,4]
b=a
a.append(10)
print(a)
print(b)

[2, 3, 4, 10]
[2, 3, 4, 10]

In [55]:
a=[2,3,4]
b=a.copy()
a.append(10)
print(a)
print(b)

[2, 3, 4, 10]
[2, 3, 4]

In [56]:
a=[]
b=10
a.append(b)
print(a)

[10]

In [57]:
a=[]
b=int(input("enter the number"))
a.append(b)
print(a)

enter the number1
[1]

In [59]:
a = []
for i in range(1,5):
  b = int(input("Enter the number"))
  a.append(b)
print(a)

Enter the number2
Enter the number2
Enter the number3
Enter the number5
[2, 2, 3, 5]

In [60]:
a = [2,3,4,5,6,7,8,9,10]
e = []
o = []

for i in a:
  print(i)

2
3
4
5
6
7
8
9
10

In [61]:
a = [2,3,4,5,6,7,8,9,10]
e = []
o = []

for i in a:
  if i%2==0:
    e.append(i)
  else:
    o.append(i)
print(e)
print(o)

[2, 4, 6, 8, 10]
[3, 5, 7, 9]

In [62]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [63]:
a = [2,3,4,5,6,6,6,7,8,9,10]
b=a
a.append(11)
print(a)
print(b)

[2, 3, 4, 5, 6, 6, 6, 7, 8, 9, 10, 11]
[2, 3, 4, 5, 6, 6, 6, 7, 8, 9, 10, 11]

In [64]:
a = [2,3,4,5,6,6,6,7,8,9,10]
a.clear()
print(a)

[]

In [65]:
a = [2,3,4,5,6,6,6,7,8,9,10]
b=a.copy()
a.append(11)
print(a)
print(b)

[2, 3, 4, 5, 6, 6, 6, 7, 8, 9, 10, 11]
[2, 3, 4, 5, 6, 6, 6, 7, 8, 9, 10]

In [66]:
a = [2,3,4,5,6,6,6,7,8,9,10]
b=a.count(6)
print(b)

3

In [67]:
a = [2,3,4,5,6,6,6,7,8,9,10]
b = [5,6,7]
a.extend(b)
print(a)

[2, 3, 4, 5, 6, 6, 6, 7, 8, 9, 10, 5, 6, 7]

In [68]:
a = [2,3,4,5,6,6,6,7,8,9,10]
b=a.index(5)
print(b)

3

In [70]:
a = [2,3,4,5,6,6,6,7,8,9,10]
a.insert(2,"tri")
print(a)

[2, 3, 'tri', 4, 5, 6, 6, 6, 7, 8, 9, 10]

In [71]:
a = [2,3,4,5,6,6,6,7,8,9,10]
a.pop(10)
print(a)

[2, 3, 4, 5, 6, 6, 6, 7, 8, 9]

In [72]:
a = [2,3,4,5,6,6,6,7,8,9,10]
a.remove(9)
print(a)

[2, 3, 4, 5, 6, 6, 6, 7, 8, 10]

In [73]:
a = [2,3,4,5,6,6,6,7,8,9,10]
a.sort(reverse=True)
print(a)

[10, 9, 8, 7, 6, 6, 6, 5, 4, 3, 2]

In [74]:
a = [2,3,4,5,6,6,6,8,7,9,10]
a.sort()
print(a)

[2, 3, 4, 5, 6, 6, 6, 7, 8, 9, 10]

In [75]:
a = [2,3,4,5,6,7,8,9,10]
e = []
o = []

for i in a:
  if i>6:
    e.append(i)
  else:
    o.append(i)
print(e)

[7, 8, 9, 10]

In [76]:
a = ["one",1,"two",2,"three",3]
words = []
numbers = []
for i in a:
    if type(i)==str:
        words.append(i)
    else:
        numbers.append(i)
print(numbers)
print(words)

[1, 2, 3]
['one', 'two', 'three']

# practice question

In [ ]:
#python Program to Print an Integer (Entered by the User)

In [ ]:
a= int(input("enter an interger"))
print(a)

In [ ]:
#Python Program to Add Two Integers

In [ ]:
a=3
b=12
c=a+b
print(c)

In [ ]:
#Python Program to Multiply two Floating Point Numbers

In [ ]:
a=3.3
b=5.5
c=a*b
print(c)

In [ ]:
#Python Program to Swap Two Numbers given by user

In [ ]:
a=input ("enter first number") 
b=input ("enter second number")
print (f"numbers before swapping: a= {a},b= {b}") 
print (f"numbers after swapping: a= {a},b= {b}")

In [ ]:
#Python Program to Calculate Simple Interest

In [ ]:
def simple_interest(p,t,r):
    print('The principal is', p)
    print('The time period is', t)
    print('The rate of interest is',r)
     
    si = (p * t * r)/100
    
    print('The Simple Interest is', si)
    return si
simple_interest(8,4,9)

In [ ]:
#Python Program to Find the Perimeter of a Rectangle

In [ ]:
l=3
b=5
perimeter=(2*l)+(2*b)
print("perimeter of a rectangle is",perimeter)

In [ ]:
#Python Program to Area of rectangle

In [ ]:
length = int(input("Enter the length of rectangle "))
breadth = int(input("Enter the breadth of reactangle "))
area = length*breadth
print(area)

In [ ]:
#Python Program to Area of Square

In [ ]:
def square(sides):
  area=sides*sides
  print(area)

In [ ]:
square(10)

In [ ]:
#Python Program to Find the Area of a Circle

In [ ]:
def circle(radius):
    area=3.14*radius*radius
    print(area)

In [ ]:
circle(5)

In [ ]:
#Python Program to Find the Area of a Triangle

In [ ]:
a = 5
b = 6
c = 7
s = (a + b + c) / 2
area = (s*(s-a)*(s-b)*(s-c)) ** 0.5
print('The area of the triangle is %0.2f' %area)

# pattern programs

In [ ]:
for i in range(1,5):
    print(i)

In [ ]:
for j in range(1,5):
    print(j)

In [ ]:
for j in range(1,5):
    print("hello")

In [ ]:
for j in range(1,5):
    for i in range(1,5):
        print(i)

In [ ]:
for j in range(1,5):
    for i in range(21,25):
        print(j,i)

In [ ]:
for j in range(1,5):
    print("apple")
    print("orange")

In [ ]:
for j in range(1,5):
    print("apple")
print("orange")

In [ ]:
print("*")

In [ ]:
print("*")
print("*")
print("*")
print("*")

In [ ]:
for i in range(1,5):
    print("*")

In [ ]:
for i in range(1,5):
    print("*",end=" ")

In [ ]:
for i in range(1,5):
    for j in range(21,25):
        print("*",end=" ")

In [ ]:
for i in range(1,5):
    for j in range(21,25):
        print("*",end=" ")
    print()

In [ ]:
for i in range(1,5):
    for j in range(1,5):
        if i>=j:
            print("*",end=" ")
    print()

In [ ]:
for i in range(1,5):
    for j in range(1,5):
        if i>=j:
            print(j,end=" ")
    print()

In [ ]:
for i in range(1,5):
    for j in range(1,5):
        if i>=j:
            print(i,end=" ")
    print()

In [ ]:
for i in range(1,5):
    for j in range(1,5):
        if i>=j:
            print("i",end=" ")
    print()

In [ ]:
rows = int(input("Enter the rows "))

k = 2*rows-2
for i in range(rows):
  for j in range(k):
    print(end=" ")
  k = k-1
  for j in range(0,i+1):
    print("*",end=" ")
  print()

In [ ]:
num = int(input())
for i in range(0,num):
  for j in range(0,num-i-1):
    print(end=" ")
  for j in range(0,i+1):
    print("*",end=" ")
  print(" ")

In [ ]:
rows = int(input("Enter The Number Of Rows:"))
columns = 2*rows -1
i = 0
while i < rows:
    j = 0
    while j < columns :
        if( (columns//2)-i <= j <= (columns//2)  +i):
            print("*",end = "")
        else:
            print(" ",end = "")
        
        j+=1 
    print(" ")
    i+=1
    
i = 0
while i < rows:
    
    j = 0
    while j < columns :
        if( i <= j <= columns-1 -i):
            print("*",end = "")
        else:
            print(" ",end = "")
        
        j+=1
    print(" ")
    i+=1

In [ ]:
num = int(input())
for i in range(0,num):
  for j in range(0,num-i-1):
    print(end="-")
  for j in range(0,i+1):
    print("*",end=" ")
  print(" ")

In [ ]:
a = [5,1,6,3,2,44,23]
largest = a[0]
for i in a:
  if i>largest:
    largest = i
print("largest number in the list  is ",largest)

In [ ]:
a=[10,20,30,40]
a.sort()
print("the second largest:",a[-2])

In [ ]:
list1 = [11,22,1,2,5,67,21,32]
new_list = set(list1)
new_list.remove(max(new_list))
print(max(new_list))

# dictionary

In [ ]:
 def add(a,b):
    c = a+b
    print(c)

In [ ]:
add(2,5)

In [ ]:
def myadd(x,y):
  z = x+y
  return z

In [ ]:
add(5,5)

In [ ]:
d = myadd(2,5)
print(d+3)
d2 = d*2
print(d2)

In [ ]:
a = 10
b = float(a)
print(b)
b1 = b+2
print(b1)

# Dictionary

In [77]:
a = [10,3.14,"Hello"]
b = {"a":10} #key:value -> 1 item
print(b)
print(type(b))

{'a': 10}
<class 'dict'>

In [78]:
d={"a":1,"b":2,"c":3}
print(d)
print(type(d))
print(len(d))

{'a': 1, 'b': 2, 'c': 3}
<class 'dict'>
3

In [79]:
d={"a":1,"b":2,"c":3}
d["e"]=10
print(d)

{'a': 1, 'b': 2, 'c': 3, 'e': 10}

In [80]:
d = {"a":1,"b":2,"c":3} 
print(d["a"])

1

In [81]:
d = {'a': 1, 'b': 2, 'c': 3, 'e': 10}

for i in d.keys():
  print(i)

a
b
c
e

In [82]:
d = {'a': 1, 'b': 2, 'c': 3, 'e': 10}

for i in d.values():
  print(i)

1
2
3
10

In [83]:
d = {'a': 1, 'b': 2, 'c': 3, 'e': 10}

for i,j in d.items():
  print(i)

a
b
c
e

In [84]:
d = {'a': 1, 'b': 2, 'c': 3, 'e': 10}

for i,j in d.items():
  print(j)

1
2
3
10

In [85]:
d = {'a': 1, 'b': 2, 'c': 3, 'e': 10}

if "a" in d.keys():
  print("yes")
else:
  print("No")

yes

In [86]:
d = {'a': 1, 'b': 2, 'c': 3, 'e': 10}

if 2 in d.values():
  print("yes")
else:
  print("No")

yes

In [87]:
d = {'a': 1, 'b': 2, 'c': 3, 'e': 10}

d.clear()
print(d)

{}

In [89]:
d = {'a': 1, 'b': 2, 'c': 3, 'e': 10}
print(d.get("c"))
print(d.get("m"))

3
None

# set

In [90]:
a = [2,3,4]
b = {"a":10}
c = {2,3,4}

print(type(a))
print(type(b))
print(type(c))

<class 'list'>
<class 'dict'>
<class 'set'>

In [91]:
a = {2,3,3,3,3,3,3,3,4,5}
print(a)
print(len(a))

{2, 3, 4, 5}
4

In [92]:
a = {2,3,4}
b = {5,6,7}
c = a.union(b)
print(c)

{2, 3, 4, 5, 6, 7}

In [93]:
a = {2,3,4}
b = {5,6,7,3}
c = a.intersection(b)
print(c)

{3}

In [94]:
a = {2,3,4,5,6} # National team
b = {3,4} # indian team
b.issubset(a)

True

In [96]:
a={2,3,4,5,6}
b={3,4}
b.issuperset(b)

True

In [97]:
a={2,3,4,5,6}
b={3,4}
b.issuperset(a)

False

In [98]:
a={2,3,4,5,6}
b={13,14}
b.isdisjoint(b)

False

In [100]:
a={2,3,4}
a.remove(2)
print(a)

{3, 4}

In [101]:
a={2,3,4}
a.remove(32)
print(a)

KeyError: 32

In [102]:
a = {2,3,4}
a.discard(2)
print(a)

{3, 4}

In [103]:
a = {2,3,4}
a.add(10)
print(a)

{10, 2, 3, 4}

In [104]:
a = set()
a.add(2)
print(a)

{2}

In [105]:
a = set()
for i in range(1,5):
  x = int(input("Enter element : "))
  a.add(x) #set is unordered # add randomly not in order
print(a)

Enter element : 20
Enter element : 30
Enter element : 40
Enter element : 50
{40, 50, 20, 30}

# while

In [106]:
n = 153

total = 0

while n>0:
  remainder = n%10
  total = total+remainder
  n = n//10

print(total)

9

In [107]:
n = 153

total = 0

while n>0:
  remainder = n%10
  total = total+remainder
  n = n//10
  print("total",total)
  print("remainder",remainder)
  print("n",n)
  print("**********")

print("Final Total",total)

total 3
remainder 3
n 15
**********
total 8
remainder 5
n 1
**********
total 9
remainder 1
n 0
**********
Final Total 9

In [109]:
def findsumofdigits(n):
  total = 0

  while n>0:
    remainder = n%10
    total = total+remainder
    n = n//10

  print(total)

In [110]:
findsumofdigits(123123123)

18

In [111]:
total = 0
153%10 =>3
0+3=>3
n = 15

-----------
total = 3
n = 15
15%10 = 5
3+5 = 8
1

------------
total = 8
n = 1

1%10 =1
8+1 = 9
1//10 =0
-----------
total = 9
n = 0

SyntaxError: cannot assign to operator (3287908969.py, line 2)

In [112]:
likes = 0

for i in range(1,10):
  likes = likes+1
  print(likes)

1
2
3
4
5
6
7
8
9

In [4]:
num=int(input("enter the number of rows"))
for i in range(1,num+1):
    for j in range(1,i+1):
        print("*",end=" ")
    print()

enter the number of rows5
*
* *
* * *
* * * *
* * * * *

In [6]:
num=int(input("enter the number of rows"))
for i in range (0,num):
    for j in range(0,num-i-1):
        print(end=" ")
    for j in range(0,i+1):
            print("*",end=" ")
    print()

enter the number of rows4
   *
  * *
 * * *
* * * *

In [8]:
num=int(input("enter the number of rows"))
for i in range (0,num):
    for j in range(0,num-i-1):
        print(end=" ")
    for j in range(0,2*i+1):
            print("*",end="")
    print()

enter the number of rows4
   *
  ***
 *****
*******

In [10]:
def pyramid(rows):
        for i in range(rows):
                print(''(rows-i-1)+'*'*(2*i+1))

<>:3: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
<>:3: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
C:\Users\Triveni K C\AppData\Local\Temp\ipykernel_11528\2729489620.py:3: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  print(''(rows-i-1)+'*'*(2*i+1))

In [15]:
num=int(input("enter the number of rows:"))
for i in range(num,0,-1):
    for j in range(0,num-i):
        print(end=" ")
    for j in range(0,i):
        print("*",end=" ")
    print()

enter the number of rows:4
* * * *
 * * *
  * *
   *

# OOPs

In [2]:
class box:
    length = 10
    breadth = 20
    
    print(length)
    print(breadth)

10
20

In [6]:
class box:
    length = 10
    breadth = 20
    
bo = box()
print(bo.length)
print(bo.breadth)

10
20

In [7]:
class box:
    length = 10
    breadth = 20
    
bo = box()
print(bo.length)
print(bo.breadth)
del bo
print(bo.length)
print(bo.breadth)

10
20

NameError: name 'bo' is not defined

In [11]:
class Rectangle:
    l=10
    b=4
or1=Rectangle()
or2=Rectangle()
or3=Rectangle()

print(or1.l)
print(or2.l)
print(or3.l)

10
10
10

In [12]:
def f1():
  print("Hello")
f1()

Hello

In [13]:
class Square:
  l = 15
  b = 3

  def j1():
    print("Welcome")

sa = Square()
print(sa.l)
sa.j1()

15

TypeError: j1() takes 0 positional arguments but 1 was given

In [14]:
def j1():
  print("Hello")

class Square:
  l = 15
  b = 3

  def j1(self):
    print("Welcome")

sa = Square()
print(sa.l)
sa.j1()

15
Welcome

In [15]:
l = 2
b = 2

class Square:
  l = 15
  b = 3

  def j1(self):
    print("Welcome",l*b)

sa = Square()
print(sa.l)
sa.j1()

15
Welcome 4

In [16]:
l = 2
b = 2

class Square:
  l = 15
  b = 3

  def j1(self):
    print("Welcome",self.l*self.b)

sa = Square()
print(sa.l)
sa.j1()

15
Welcome 45

# Inheritance

In [19]:
class A:
    x = 10
class B(A):
    y = 20
ob=B()
print(ob.x)
print(ob.y)

10
20

# Polymorphism

In [21]:
class A:
    x=10
    def f1(self):
      print("Hello")
        
class B(A):
    y=20
    
ob=B()
print(ob.x)
print(ob.y)
ob.f1()

10
20
Hello

In [23]:
class A:
    x=10
    def f1(self):
      print("Hello")
        
class B(A):
    y=20
    
    def k1(self):
        print("Apple")
    
ob=B()
print(ob.x)
print(ob.y)
ob.f1()
ob.k1()

10
20
Hello
Apple

In [25]:
class A:
    x=10
    def f1(self):
          print("Hello")
        
class B(A):
    y=20
    
    def f1(self):
        print("Orange")
    
ob=B()
print(ob.x)
print(ob.y)
ob.f1()

10
20
Orange

In [26]:
class A:
    x=10
    def f1(self):
          print("Hello")
        
    def k1(self):
        print("Delhi")
class B(A):
    y=20
    
    def f1(self):
        print("Orange")
    
    def k1(self):
        print("Apple")
    
ob=B()
print(ob.x)
print(ob.y)
ob.f1()
ob.k1()

10
20
Orange
Apple

# Encapsulation

In [31]:
class A:
    x=10
   
class B(A):
    y=20
    
ob=B()
print(ob.x)
print(ob.y)

10
20

In [30]:
class A:
    _x=10
   
class B(A):
    y=20
    
ob=B()
print(ob._x)
print(ob.y)

10
20

In [32]:
class Box:
    length = 10
    
    def f1(self):
        print(self.length+20)
        
ob = Box()
print(ob.length)
ob.f1()

10
30

In [37]:
class Person:
    def __init__(self,name):
        self._name = name
    def get_name(self):
        return self._name
    def set_name(self,new_name):
        self._name = new_name
person=Person("Alice")
print(person.get_name())
person.set_name("Bob")
print(person.get_name())

Alice
Bob

In [38]:
class Person:

    def __init__(self,age):
        self._age = age

    def setter(self,nage):
        self._age = nage

    def getter(self):
        return self._age


person1 = Person(25)
person2 = Person(35)

print(person1.getter())
print(person2.getter())

25
35

In [43]:
class Person:
    def __init__(self,age):
        self._age = age
        
    def setter(self,nage):
        if nage<60:
            self._age = nage
            
    def getter(self):
        return self._age
    
    
person1 = Person(25)



print(person1.getter())

25

In [44]:
class A:
    x=10
    def f1(self):
        print("Welcome")
class B(A):
    y=20
    
    def f1(self):
        print("Hello")
        print("Welcome")
ob=B()
print(ob.y)
print(ob.x)
ob.f1()

20
10
Hello
Welcome

In [45]:
class A:
    x=10
    def f1(self):
        print("Welcome")
class B(A):
    y=20
    
    def f1(self):
        print("Hello")
        super().f1()
ob=B()
print(ob.y)
print(ob.x)
ob.f1()

20
10
Hello
Welcome