In [2]:
i=1      #initialization

while i<=5:     #condition
    print("triveni")
    i=i+1    #increment the value

triveni
triveni
triveni
triveni
triveni

In [3]:
i = 1    i:3
    
while i<=5:
    print("triveni")
    i=i+1

SyntaxError: invalid syntax (2230566318.py, line 1)


i=5

while i>=1:
    print("triveni", i)
    i=i-1

In [ ]:
i=5

while i>=1:
    print("triveni", i) 
    i=i-1

In [ ]:
i=5
j=1
while i>=1:
    print("triveni")
    while j<=4
        print("rocks")
    i=i-1

In [2]:
i=1
j=1
while i<=5:
    print("triveni ")
    while j<=4:
        print("rocks ")
        j=j+1
    i=i+1

triveni
rocks
rocks
rocks
rocks
triveni
triveni
triveni
triveni

In [7]:
i=1
while i<=5:
    print("triveni ",end="")   #to be in the same line
    j=1
    while j<=4:
        print("rocks ",end="")
        j=j+1
    i=i+1
    print()

triveni rocks rocks rocks rocks
triveni rocks rocks rocks rocks
triveni rocks rocks rocks rocks
triveni rocks rocks rocks rocks
triveni rocks rocks rocks rocks

FOR LOOP

In [10]:
x=['naveen',65,2.5]
for i in x:
    print(i)

naveen
65
2.5

In [15]:
for i in [2,6,'trivi']:
    print(i)

2
6
trivi

In [17]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [20]:
for i in range(1,21):
    if (i%5!=0) :
       print(i)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19

VARIABLES

In [1]:
CREATING VARIABLES
x = 5
y = "John"
print(x)
print(y)

5
John

In [2]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [4]:
CASTING
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(x)
print(y)
print(z)

3
3
3.0

In [5]:
GET OF TYPE
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [8]:
SINGLE OR DOUBLE QOUIT
x = "John"
print(x)
# is the same as
x = 'John'
print(x)

John
John

In [10]:
CASE SENSITIVE
a = 4
A = "Sally"
#A will not overwrite a
print(a)
print(A)

4
Sally

In [11]:
VARIABLE NAMES

myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"
print(myvar)
print(my_var)
print(_my_var)
print(MYVAR)
print(myvar2)

John
John
John
John
John

SyntaxError: invalid syntax (3485480749.py, line 1)

In [13]:
Multi Words Variable Names
CAMEL CASE

myVariableName = "John"

PASCAL CASE

MyVariableName = "John"

SNAKES CASE

my_variable_name = "John"

SyntaxError: invalid syntax (3959307079.py, line 1)

In [14]:
Many Values to Multiple Variables

x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

SyntaxError: invalid syntax (504939244.py, line 1)

In [15]:
MANY VALUES TO MULTIPLE VARIABLES

x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [16]:
SINGLE VALUES TO MULTIPLE VARIABLES

x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [1]:
UNPACK A COLLECTION

fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [12]:
OUTPUT VARIABLES

x = "Python is awesome"
print(x)
--------------------
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

-------------------------
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)
---------------------------------
x = 5
y = 10
print(x + y)

Python is awesome
Python is awesome
Python is awesome
15

In [13]:

x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [14]:
x = 5
y = "John"
print(x, y)

5 John

In [17]:
GLOBAL VARIABLE

x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

-----------------------------------
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is awesome
Python is fantastic
Python is awesome

In [19]:
GLOBAL  KEYWORD

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

-------------------------------------
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic
Python is fantastic

In [21]:
DATA TYPES


x = "Hello World"

#display x:
print(x)

#display the data type of x:
print(type(x)) 

x="Hello World"

Hello World
<class 'str'>

In [23]:
x = 20

#display x:
print(x)

#display the data type of x:
print(type(x))

20
<class 'int'>

In [24]:
x=20.3

#display x:
print(x)
print(type(x))

20.3
<class 'float'>

In [28]:
PYTHON NUMBERS

x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(x)
print(y)
print(z)
print(type(x))
print(type(y))
print(type(z))

1
2.8
1j
<class 'int'>
<class 'float'>
<class 'complex'>

In [29]:
INT

x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [30]:
FLOAT

x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [31]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))


print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [32]:
COMPLEX

x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [33]:
TYPE CONVERSION

x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [34]:
RANDOM NUMBERS

import random

print(random.randrange(1, 10))

5

In [5]:
PYTHON CASTING
    
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3
print(x)
print(y)
print(z)
----------------------------------------
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2
print(x)
print(y)
print(z)
print(w)
--------------------------------------------
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'
print(x)
print(y)
print(z)

1
2
3
1.0
2.8
3.0
4.2
s1
2
3.0

In [7]:
STRINGS

ASSIGN STRING TO A VARIABLES

a = "Hello"
print(a)
------------------------------------
MULTILINE STRING

a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Hello
Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [8]:
STRINGS ARE ARRAY

a = "Hello, World!"
print(a[1])

e

In [9]:
LOOPING THROUGH STRINGS

for x in "banana":
  print(x)

b
a
n
a
n
a

In [10]:
STRING LENGTH

a = "Hello, World!"
print(len(a))

13

In [12]:
CHECK STRING

txt = "The best things in life are free!"
print("free" in txt)

--------------------------------------------------
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

True
Yes, 'free' is present.

In [14]:
CHECK IF NOT
-------------
txt = "The best things in life are free!"
print("expensive" not in txt)
---------------------------------------------------
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

True
No, 'expensive' is NOT present.

In [1]:
SLICING

b = "Hello, World!"
print(b[2:5])

llo

In [2]:
SLICE FROM THE START

b = "Hello, World!"
print(b[:5])

Hello

In [3]:
SLICE AT THE END

b = "Hello, World!"
print(b[2:])

llo, World!

In [4]:
b = "Hello, World!"
print(b[-5:-2])

orl